<table class="talks-table  table-borderless">
  <tbody>
    <% for (const item of items) { %>
      <%
        // QUARTO FIX: Regex to strip the <p>...</p> tags
        const re = /^<p>|<\/p>$/g;
  
        // Clean the date
        const cleanDate = item.date.replace(re, '');
  
        // Clean the title field
        const title = (item.talk || item.event).replace(re, '');
  
        // Prepare the details array, cleaning each part
        const details = [];
        if (item.talk && item.event) {
          details.push(item.event.replace(re, ''));
        }
        if (item.venue) {
          details.push(item.venue.replace(re, ''));
        }
        const detailsString = details.join(', ');
      %>
  
      <tr>
        <td class="talk-date align-top">
          <span class="talk-date-text"><%- cleanDate %></span><% if (item.type == 'panel') { %><br><span class="talk-details">panel</span><% } %><% if (item.video) { %><br><span class="talk-details"><a href="<%- item.video %>" target="_blank">Video</a></span><% } %>
        </td>
        
        <td class="talk-info align-top">
          <span class="talk-title"><%- title %></span><% if (detailsString) { %><br><span class="talk-details"><%- detailsString %></span><% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
  </table>